.container__main {
	display:flex;
}

.content {
	//width: calc(100% - $widthNav);
	width: 100%;
	height: calc(100vh - 70px);
	background-color:$light;
	padding: 1em;
	overflow-y: scroll;
	@include max('sm') {
		min-height: calc(100vh - 70px);
		height: auto;
		padding:0.5em;
	}
}

.tarjeta {
	@include card();
	padding: 1em;
	//background-color: $darkBlue;
}	 

.table {
	@include card();	
}

.busqueda {
	@include box-shadow();
}